<h1>Formulario</h1>

<form action="/resultados" method="POST">
    <div class="divInputs">
        <label>Valor</label>
        <input type="text" name="valor" id="valor">
    </div>
    &nbsp;<input type="button" onclick="adicionarCampo() " value="Adicionar"><br><br>
    <button type="submit">Enviar</button>
</form>